@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {

  --menu-hover: #B19CD9;

  --pink-color: #df8499;

  --baby-pink-color: #f1b6c7;

  --blue-color: #89CFF0;

  --baby-blue-color: #b3bdcb;

  --sky-color: #c7ede6;

  --ligth-sky-color: #ebf0ef;

  --lilac-color: #be97ca;

  --purple-color: #9179be;

  --brown-color: #877373;

  --gray-color: #c2c6bd;

  --black-color: #000000;

  --white-color: #FFFFFF;

  --green-color: rgb(63, 166, 47);

  --baby-green-color: rgb(89, 187, 73);
}

:root {
  --var-soft-blue: hsl(187, 9%, 60%);
  --var-main-darkest: hsl(217, 54%, 11%);
  --cor-hover: rgb(1, 126, 55);
  --var-line-dark: hsl(215, 32%, 27%);
  --var-lightest: white;
  --gradiente: linear-gradient(to top, rgb(30, 81, 56), rgb(0, 133, 59));

}

header {
  padding-bottom: 100px;
  font-family: 'Roboto', sans-serif;
}


header nav {
  height: 50px;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
  background-color: var(--white-color);
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0 5px 10px 2px rgba(255, 255, 255);

}

/* Estilize a lista aberta */
header nav ul.open {
  overflow-y: scroll;

  /* Adicione uma barra de rolagem vertical quando necessário */
}

header nav a {
  width: 150px;
  height: 50px;
}

header nav .logo {
  width: 100%;
  height: 100%;
}

header nav .icon_home {
  width: 40px;
  height: 40px;
}

header nav .icon_home img {
  width: 100%;
  height: 100%;
}

header nav .menu {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), black 40px, black calc(100% - 40px), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to right, transparent, black 40px, black calc(100% - 40px), transparent);
  display: flex;
  width: 70%;
  height: 70px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  cursor: grab;

}

header nav .menu.open {
  overflow-y: scroll;
  height: 60px;
  z-index: 9999;
}

header nav .menu li {
  margin: 11.5px 5px;
}


header nav .menu li button,
header nav .menu li .home {
  color: var(--black-color);
  padding: 8px 15px;
  border-radius: 8px;
  letter-spacing: 1px;
  transition: 0.3s;
  white-space: nowrap
}

header nav .menu li a:hover {
  background-color: var(--menu-hover);
  color: white;
  font-size: 17px;
  cursor: pointer;
  filter: none;
}

header nav .menu li .dropdown-content a {
  border-radius: 0%;
}



header nav .menu li a {
  color: var(--black-color);
  padding: 8px 15px;
  letter-spacing: 1px;
  transition: 0.3s;
}

/* menu hamburguer */

header .menu-btn {
  position: absolute;
  right: 20%;
  display: none;
}

header .menuHamburguer {
  position: absolute;
  opacity: 0;
}

header label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

header label span {
  position: absolute;
  display: block;
  height: 3.5px;
  width: 100%;
  border-radius: 30px;
  background: var(--black-color);
  transition: 0.25s;
}

/* Barrinhas do menu */
header label span:nth-child(1) {
  top: 0;
}

header label span:nth-child(2) {
  top: 8px;
}

header label span:nth-child(3) {
  top: 16px;
}

/* Animação X */
.menuHamburguer:checked+label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

.menuHamburguer:checked+label span:nth-child(2) {
  opacity: 0;
}

.menuHamburguer:checked+label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}


#bannerCatalogo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 300px;
  /* Centraliza horizontalmente */
  background-position-y: top;
  padding: 5rem;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5%;
}



/* .overlay {
  background: linear-gradient(180deg, var(--blue-color) 0%, var(--pink-color) 50%);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .3;
} */
/*
 .bannerCatalogo_content {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
  padding: 8rem 0 2rem 0;
}

.bannerCatalogo_text {
  font-family: 'Harmonia Sans', sans-serif ;
  white-space: nowrap;
  color: var(--white-color);
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  margin: 10px 0;
  width: auto;
}
.bannerCatalogo_img {
  z-index: 1;
  width: auto;
  height: 120px;
}

.bannerCatalogo_img img {
  width: 100%;
  height: 100%;
}

.bannerCatalogo_text p {
  overflow: hidden;
} */




.sessao_catalogo {
  font-family: 'Nunito', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 5% 5% 0 5%;
}

.sessao_catalogo .conteudo_titulo {
  border-bottom: 2px solid rgb(219, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.sessao_catalogo .titulo_catalogo {
  color: #1e0096d1;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  height: 70px;
}

.sessao_catalogo .sub_sessao .alinhar_titulo {
  display: flex;
  margin-left: 5%;
  justify-content: left;
  width: fit-content;
}

.sessao_catalogo .sub_sessao .alinhar_titulo .conteudo_titulo {
  border: none;
  margin: 2% 0 1% 0;
  display: flex;
  width: 100%;
}

.sessao_catalogo .sub_sessao .alinhar_titulo .titulo_catalogo {
  align-items: end;
  font-size: 30px;
  height: 50px;
}

.sub_sessao .catalogo {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), black 40px, black calc(100% - 40px), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to right, transparent, black 40px, black calc(100% - 40px), transparent);
  user-select: none;
  display: flex;
  align-items: center;
  /* cursor: grab; */
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
}



.sub_sessao .catalogo .conteudo_catalogo {
  border: 2px solid rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: 100%;
  border-radius: 15px;
  margin: 1rem 1% 1rem 1%;
  padding: 5px;
  transition: transform 0.3s ease;
}


.spinner {
  border: 4px solid rgba(255, 255, 255, 0.553);
  border-radius: 50%;
  border-top: 4px solid #9e9e9e;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}


.sub_sessao .catalogo .conteudo_catalogo .desc_catalogo {
  width: 90%;
}

.sub_sessao .catalogo .conteudo_catalogo .desc_produto h1 {
  border: none;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.sub_sessao .catalogo .conteudo_catalogo .desc_produto h2 {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 10px 0px;
}

.produto_content {
  border: 1px solid var(--baby-blue-color);
  position: relative;
  display: block;
  width: 250px;
  height: 300px;
  overflow: hidden;
  margin: 5%;

}

.produto_content img {
  transition: .4s;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.fullscreen-img {
  position: fixed;
  top: 12%;
  left: 10%;
  width: 80vw;
  height: 80vh;
  object-fit: scale-down;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  z-index: 1000;
  border-radius: 5px;
}

.fullscreen-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.7);
  z-index: 999;
  backdrop-filter: blur(5px);
}







.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  width: 60px;
  /* ajuste de acordo com o tamanho desejado */
  height: 60px;
  /* ajuste de acordo com o tamanho desejado */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #25D366;
  /* cor de fundo verde do WhatsApp */
}


.whatsapp-button img {
  filter: invert(1);
  width: 50%;
  /* ajuste de acordo com o tamanho desejado */
  height: 50%;
  /* ajuste de acordo com o tamanho desejado */
}

.whatsapp-button:hover {
  border: 1px solid var(--black-color);
  transition: 0.3s;
  scale: 1.2;
}

/* --------------------------------------- botão subir page */

.subirPage {
  position: fixed;
  bottom: 50px;
  left: 45px;
  z-index: 100;
  width: 35px;
  height: 35px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #6f6f6f73;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;
}

.subirPage img {
  width: 50%;
  height: 50%;
}

.subirPage:hover {
  transition: 0.1s;
  background-color: #5b5b5b8a;
  border: 1px inset #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

/* Estilo padrão para a barra de pesquisa */
#searchInput {
  margin-right: 15px;
  width: 10%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: width 0.3s ease;
}

#searchInput:focus {
  outline: none;
}

/* Estilo para a lupa */
#searchInput.lupa {
  width: 40px;
  background: url('../icons/Lupa.svg') no-repeat center center;
  background-size: 20px;
  cursor: pointer;
  padding-left: 40px;
  /* Esconde o texto digitado */
  text-indent: -9999px;
  /* Esconde o placeholder */
}

#suggestions {
  border: 1px solid #ccc;
  max-height: 200px;
  min-width: 220px;
  z-index: 5;
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 70px;
  left: 210px;
  background-color: var(--white-color);
  border-radius: 2px;
}

#suggestions::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

#suggestions::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
  /* color of the tracking area */
}

#suggestions::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
  border: 2px solid rgb(241, 241, 241);
  ;
}

#suggestions div {
  padding: 5px;
  cursor: pointer;
}

#suggestions div:hover {
  background-color: #f1f1f1;
}

#suggestions .selected {
  background-color: #e0e0e0;
}

/* FOOTER  */
.footer {
  font-family: 'Harmonia Sans', sans-serif !important;
  margin-top: 20px;
  position: relative;
  background: #ffffff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 -5px 10px 2px #eeeeee;
}

.footer .social-icon,
.footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.footer .social-icon__item {
  width: 60px;
  height: 60px;
}

.footer .social-icon__item img {
  width: 100%;
  height: 100%;
}

.footer .social-icon__item,
.footer .menu__item {
  list-style: none;
}

.footer .social-icon__link {
  font-size: 2rem;
  color: #000000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.footer .social-icon__link:hover {
  transform: translateY(-10px);
}

.footer .menu__link {
  font-size: 1.2rem;
  color: #000000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.footer .menu__link:hover {
  opacity: 1;
  color: #285AEB;
  text-decoration: underline;

}

.footer p {
  color: #000000;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

footer .icons {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

footer .icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 1px solid #ffffff;
  transition-duration: .45s;
}

footer .icon img {
  width: 60%;
  height: 60%;
}

footer .icon:hover {
  outline-offset: 4px;
}

footer .icon:hover img {
  filter: invert(1);
  animation: shake .25s;
}

footer .icon--instagram:hover {
  background-image:
    radial-gradient(circle at 30% 107%,
      #fdf497 0%, #fdf497 5%,
      #fd5949 45%, #d6249f 60%,
      #285AEB 90%);
  outline-color: #a02d76;
}

footer .icon--facebook:hover {
  background-color: #707070;
  outline-color: #707070;
}

footer .icon--youtube:hover {
  background-color: #ff4141;
  outline-color: #ff4141;
}


@keyframes shake {
  10% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }
}

@media (min-width: 1300px) {

  .conteudo_catalogo:hover,
  .conteudo_catalogo.simulated-hover {
    box-shadow:
      rgba(50, 50, 93, 0.1) 0px 2px 5px -1px,
      rgba(50, 50, 93, 0.1) 0px -2px 5px -1px,
      rgba(50, 50, 93, 0.1) 2px 0px 5px -1px,
      rgba(50, 50, 93, 0.3) 0px 4px 6px -2px;
    cursor: pointer;
    transform: translateY(-10px);
  }
}

@media (max-width: 1300px) {
  header nav .menu li {
    margin: 10px 0;
  }

  header nav .menu li .home {
    font-size: 16px !important;
  }

  #searchInput {
    width: 20% !important;
  }

  #suggestions {
    left: 210px !important;
  }

  .produto_content {
    width: 175px !important;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .sub_sessao .catalogo .conteudo_catalogo {
    height: 250px !important;
    width: 100%;
  }

  .sub_sessao .catalogo .conteudo_catalogo .desc_produto h1 {
    font-size: 15px !important;
  }

  .sub_sessao .catalogo .conteudo_catalogo .desc_produto h2 {
    display: none;
  }

  .sessao_catalogo .titulo_catalogo {
    font-size: 25px !important;
    height: 50px !important;
  }

  .sessao_catalogo .sub_sessao .alinhar_titulo .titulo_catalogo {
    font-size: 20px !important;
    height: 40px !important;
  }

  header nav .menu {
    display: flex;
    flex-direction: column;
  }

  header nav .menu.open {
    height: 585px;
    width: 105%;
  }

  header nav .menu li a:hover,
  header nav .menu li button:hover {
    font-size: 25px;
  }

  header nav ul {
    background-color: var(--white-color);
    display: block;
    height: auto;
    left: -100%;
    position: absolute;
    text-align: center;
    top: 115px;
    transition: 0.1s;
    width: 100%;
    z-index: 2;
  }

  nav .menu-btn {
    display: block;
  }

  nav ul li {
    margin: 50px 0;
    width: 100%;
  }

  nav ul li a,
  nav .dropbtn {
    font-size: 22px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: var(--cor-primaria);
  }

  nav ul.open {
    display: flex;
    justify-content: flex-start;
    left: 0;
    margin-left: -30px;
    top: 70px;
  }

  .dropdown-content {
    background-image: var(--gradiente);
  }

  .dropdown:hover .dropbtn {
    background: transparent;
    color: var(--cor-primaria);
    font-size: 22px;
  }
}

@media (max-width: 980px) {
  footer .menu li {
    margin-bottom: 10px;
  }

  #bannerCatalogo {
    height: 100px;
  }
}

@media (max-width: 590px) {
  header nav .content_logo {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    width: fit-content;
  }

  header nav .logo {
    height: 50px;
    width: 90px;
  }

  nav .menu-btn {
    right: 25%;
  }

  #suggestions {
    left: 54px !important;
  }
}