:root {

    --pink-color: #df8499;

    --baby-pink-color: #f1b6c7;

    --blue-color: #8aa7d0;

    --baby-blue-color: #b3bdcb;

    --sky-color: #c7ede6;

    --ligth-sky-color: #ebf0ef;

    --lilac-color: #be97ca;

    --purple-color: #9179be;

    --brown-color: #877373;

    --gray-color: #c2c6bd;

    --black-color: #000000;

    --white-color: #FFFFFF;

    --green-color: rgb(63, 166, 47);

    --baby-green-color: rgb(89, 187, 73);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-color);
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    text-align: center;
    display: inline-block;
    max-width: 352px;
    border: 1px solid var(--white-color);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1rem 2rem;
}

/* --------------------------------------- CABEÇALHO */

.header {
    background-color: var(--white-color);
    height: 115px;
    border-radius: 0 0 30% 30%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    width: 80px;
}

.hamburger {
    display: none;
    width: 30px;
    border: none;
    height: 24px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    background: #333;
    height: 3px;
    border-radius: 10%;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.hamburger .line:nth-child(1) {
    top: 0;
}

.hamburger .line:nth-child(2) {
    top: 10px;
}

.hamburger .line:nth-child(3) {
    top: 20px;
}

.hamburger.open .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--white-color);
}

.navbar_link {
    float: left;
}

.link {
    display: block;
    color: var(--black-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;

}

@media screen and (max-width: 768px) {
    .navbar_link {
      float: none;
      display: none;
    }

    .hamburger {
      display: block;
    }

    .navbar.responsive {
      position: absolute;
      margin-top: 25px;
      margin-left: -310px;
      animation: 3s;
      width: 100%;
    }

    .navbar.responsive .navbar_link {
      display: block;
      float: none;
    }
    .navbar.responsive .navbar_link .cor {
        background-color: var(--baby-blue-color);
      }
      .navbar_link:nth-child(even) {
        background-color: var(--white-color); /* Substitua #color1 pela sua primeira cor */
      }
      
      .navbar_link:nth-child(odd) {
        background-color: var(--sky-color); /* Substitua #color2 pela sua segunda cor */
      }
      .navbar_link {
        float: left;
        border: 1px solid rgb(214, 214, 214);
    }
}

  
  
  

/* --------------------------------------- HOME */

#home::before, #services::before, #depos::before, #galery::before, #constract::before {
    content: "";
    display: block;
    height: 100px; /* Ajuste este valor para o deslocamento desejado */
    margin-top: -100px; /* Deve ser o negativo do valor acima */
    visibility: hidden;
    pointer-events: none;
}



#home {
    background-image: url(../img/kids.jpg);
    padding: 5rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.overlay {
    background: linear-gradient(180deg, var(--blue-color) 0%, var(--pink-color) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
    padding: 2rem 0;
}


.home_text {
    padding: 2rem;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    padding-top: 3rem;
    text-align: center;
}

.home_title {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}

.home_logo {
    position: relative;
    width: 140px;
}

.appointment_button {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 4px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    padding: 16px 2;
    position: relative;
    transition: 0.3s;
}

.appointment_button:hover {
    background-color: var(--baby-blue-color);
    letter-spacing: 5px;
    border: 2px solid var(--blue-color);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.title {
    color: var(--purple-color);
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5;
    margin-top: 3rem;
    padding: 24px;
}

/* --------------------------------------- ABOUT */
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_content {
    text-align: center;
    padding: 0 10%;
    display: flex;
    width: 800px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about_text {
    font-weight: 550;
    color: var(--purple-color);
    text-align: center;
    line-height: normal;
    letter-spacing: 1px;
}

.about_img {
    width: 100%;
    margin-top: 2rem;
    opacity: .8;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.about_img:hover {
    opacity: 1;
}



/* --------------------------------------- SERVICES */

#services {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.services_list {
    border: 2px solid var(--ligth-sky-color);
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 400px;
    width: 100%;
    scroll-behavior: smooth;
}


.services_list::-webkit-scrollbar {
    display: none;
}

.service {
    border: 2px solid var(--sky-color);
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    border-radius: 5%;
    margin: 20px 5px;
}

.service:hover {
    transition: 0.5s;
    margin-top: 10px;
}

.service_img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border: 2px solid var(--pink-color);
    border-radius: 10px;
}

.services_content {
    margin-top: 10px;
    text-align: center;
    width: 200px;
    height: 250px;
}

.services_title {
    font-family: 'IBM Plex Serif', sans-serif;
    color: var(--brown-color);
    font-weight: bold;
    padding: 0.75rem;
}

.services_text {
    font-family: 'IBM Plex Serif', sans-serif;
    color: var(--brown-color);
    padding-top: 2rem;
}


/*rolagem horizontal*/

.setas {
    cursor: pointer;
    margin: 0 20px;
}




/* --------------------------------------- DEPOIMENTOS */

#depos {
    background-image: url(../img/makeup.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 5rem 0;
}

.depo_title {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5;
    margin-top: 3rem;
    padding: 24px;
}

.depo_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.depos_content {
    color: var(--white-color);
    padding: 0 10%;
}

.stars {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem;
}

.star_element {
    width: 20px;
}

.depos_text {
    text-align: center;
    line-height: normal;
    letter-spacing: 1px;
    position: relative;
}

.depos_title {
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem;
}

#depos::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100vw;
    height: 90px;
    background: url(../svg/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scaleY(-1);
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .depo_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        align-items: flex-start;
    }

    .depo {
        flex: 1;
        margin: 0 1rem;
    }
}


/* --------------------------------------- CONTATO */

#contact {
    padding: 10% 10%;
    background-image: url(../img/waves.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact_content {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_title {
    font-family: 'Oswald', sans-serif;
    color: var(--purple-color);
    font-size: 1.75rem;
    text-transform: uppercase;
    margin: 2rem 0;
    letter-spacing: 2px;
}

.contact_tel {
    font-size: 1.25rem;
    align-items: center;
    margin: 10px;
}
.telefone{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.telefone::before {
    content: url(../icons/icon_call.png);
    display: inline-block;
}

.contact_mail {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

.contact_mail::before {
    content: url(../icons/icon_mail.png);
    display: inline-block;
    margin-bottom: 10px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact_title2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    color: var(--black-color);
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;
    line-height: 1.25;
    padding: 1rem 15%;
}

.whatsapp_button {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 4px;
    color: var(--white-color);
    background-color: var(--green-color);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    padding: 16px 2;
    position: relative;
    transition: 0.3s;
}

.whatsapp_button:hover {
    background-color: var(--green-color);
    letter-spacing: 5px;
    border: 2px solid var(--baby-green-color);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.address {
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25;
    padding-bottom: 1rem;
}

.address::before {
    content: url(../icons/icon_location.svg);
    display: block;
    padding-bottom: .5rem;
}

@media screen and (min-width: 768px) {
    .address {
        font-size: 1.5rem;
    }
}

/* --------------------------------------- CATALOGO */
  #banner {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #333;
  }
  .banner-image {
    width: 100%;
    height: 100%;
    position: relative;
    transition: opacity 1s ease-in-out;
  }
  
  #dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }
  
  .dot.active {
    background-color: darkgrey;
  }
  


  /* --------------------------------------- whatsapp estatico */

  .whatsapp-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    width: 60px;  /* ajuste de acordo com o tamanho desejado */
    height: 60px; /* ajuste de acordo com o tamanho desejado */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #25D366; /* cor de fundo verde do WhatsApp */
}

.whatsapp-button::after {
    content: "";
    position: absolute;
    bottom: -7px; /* Ajuste conforme necessário */
    right: 33px; /* Ajuste conforme necessário */
    border-width: 10px;
    border-style: solid;
    border-color: #25D366 transparent transparent #25D366;
}

.whatsapp-button img {
    filter: invert(1);
    width: 50%; /* ajuste de acordo com o tamanho desejado */
    height: 50%; /* ajuste de acordo com o tamanho desejado */
}

.whatsapp-button:hover{
    border: 1px solid var(--black-color);
    transition: 0.3s;
    scale: 1.2;
}

  /* --------------------------------------- rolagem horizontal */

